{% extends 'speakers/base.html' %}
{% load static %}
{% block title %}speaker_card{% endblock %}

{% block content %}
    <div class="search-container">
        <form method="get" action="/speakers/">
            <input type="text" name="speaker_name_to_find" value="{{speaker_name_to_find}}">
            <button type="submit" class="search-btn">&#128269;</button>
        </form>
    </div>
    <div class="card-list">
        {% for key, value in speakers.items %}
            <div class="speaker-card" onclick="location.href='{% url 'speaker_page' key %}'";>
                <div class="text-container">
                    <p class="primary-text">{{value.name}}</p>
                    <p class="primary-text">{{value.surname}}</p>
                    <p class="secondary-text">{{value.short_disc}}</p>
                </div>
                <img src="{{value.img_url}}" alt="speaker">
            </div>
        {% endfor %}
        <div class="meetup-card" onclick="location.href='{% url 'meetup_page' current_meetup_id %}'";> 
            <p class="speakers-counter">{{speakers_quantity}}</p>
            <img src="{% static "img/meetup_icon.jpg" %}" alt="meetup_icon">
        </div>
    </div>
{% endblock %}